{% extends 'admin/home.html' %}

<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>
{% load static %}
{% block A %}



<!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Cancel Inquiry</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Cancel Students Details</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

<div class="row">


    <div class="col-sm-12">
        <div class="card-box">

            <h4 class="header-title">Cancel Inquiry </h4>


<!--            <button id="demo-delete-row" class="btn btn-danger btn-sm" disabled><i class="mdi mdi-close mr-1"></i>Delete</button>-->
            <table id="demo-custom-toolbar" data-toggle="table"
                   data-toolbar="#demo-delete-row"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-sort-name="id"
                   data-page-list="[5, 10, 20]"
                   data-page-size="5"
                   data-pagination="true" data-show-pagination-switch="true" class="table-borderless">
                <thead class="thead-light">
                <tr>

                    <th data-field="id" data-sortable="true" data-formatter="">ID</th>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="Contact" data-sortable="true">Contact</th>
                    <th data-field="Email" data-sortable="true">Email</th>
                    <th data-field="Reffernce Name" data-sortable="true">Reffernce Name</th>
                    <th data-field="dob" data-sortable="true" data-formatter="dateFormatter">DOB</th>
                    <th data-field="date" data-sortable="true" data-formatter="dateFormatter">Date</th>
                    <th data-field="Institute" data-sortable="true">Institute</th>
                    <th data-field="Sem" data-sortable="true">Sem</th>
                    <th data-field="Stream" data-sortable="true">Stream</th>
                    <th data-field="Language" data-sortable="true">Language</th>
                    <th data-field="Structure" data-sortable="true">Structure</th>
                    <th data-field="status" data-align="center" data-sortable="true" data-formatter="statusFormatter">Status</th>
                    <th data-field="Action" data-sortable="true">Action</th>
                    <th data-field="Delete" data-sortable="true">Delete</th>

                </tr>
                </thead>

                <tbody>
                {% for s in results %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.fullname}}<img src="/media/{{s.studentphoto }}" class="rounded-circle avatar-sm" alt="studentphoto"></td>
                    <td>{{s.pnum}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.reffname}}</td>
                    <td>{{s.dob}}</td>
                    <td>{{s.inqdate}}</td>
                    <td>{{s.Institute}}</td>
                    <td>{{s.Semester}}</td>
                    <td>{{s.Stream}}</td>
                    <td>{{s.lang.lang}}</td>
                    <td>{{s.structurename.structurename}}</td>
                    <td><span class="badge label-table badge-danger" style="font-size:120%;">{{s.status}}</span></td>
                    <td><button type="button" class="btn btn-primary btn-xs btn-icon" title="Click the Button To Back in Confirmed Student.." data-tippy-animation="perspective" data-tippy-arrow="true" name="confirminq" onclick="conll({{s.id}})" ><i class="fas fa-align-justify"></i></button></td>
                    <td><button type="button" class="btn btn-danger btn-xs btn-icon" onclick="cancledel('{{s.id}}')"><i class="fa fa-times"></i></button></td>
                </tr>
                 {%endfor%}
                </tbody>
            </table>
        </div> <!-- end card-box-->
    </div> <!-- end col-->
</div>
<!-- end row-->

<script>
function conll(id)
{
Swal.fire({
  title: 'Are you sure?',
  text: 'You want to Back in Confirmed inquiry or not!!!',
  icon: 'warning',
  showCancelButton: true,
  confirmButtonText: 'Yes, confirm',
  cancelButtonText: 'No, cancel'
}).then((result) => {
  if (result.value) {
   window.location.href="/coninq/?id="+id;
  } else if (result.dismiss === Swal.DismissReason.cancel) {
    window.location.href="/caninq/?id="+id;
    Swal.fire(
      'Cancelled',
      'Your imaginary file is safe :)',
      'error'
    )
  }
})
}
</script>

            <script>
                function cancledel(id)
                    {
                       window.location.href="/cancledelete/?id="+id;
                    }

            </script>








<!--            <script>-->
<!--            function conl(id){-->
<!--              swal({-->
<!--              title: "Are you sure?",-->
<!--              text: "You will not be able to recover this imaginary file!",-->
<!--              type: "warning",-->
<!--              showCancelButton: true,-->
<!--              confirmButtonClass: "btn-danger",-->
<!--              confirmButtonText: "Yes, delete it!",-->
<!--              cancelButtonText: "No, cancel plx!",-->
<!--              closeOnConfirm: false,-->
<!--              closeOnCancel: false-->
<!--            },-->
<!--            function(isConfirm) {-->
<!--              if (isConfirm) {-->
<!--                window.location.href="/coninq/?id="+id;-->
<!--              } else {-->
<!--               window.location.href="/caninq/?id="+id;-->
<!--              }-->
<!--            });-->
<!--            }-->
<!--            </script>-->





{% endblock %}